<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/static/css/nav_panel.css}">
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/static/css/edit_page.css}">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <main>
        <div class="edit_form">
            <form method="post" th:action="@{/my_page/edit_page}">
                <div>
                    <label for="name">Name:<input type="text" name="name" id="name"></label>
                </div>
                <div>
                    <label for="surname">Surname:<input type="text" name="surname" id="surname"></label>
                </div>
                <div>
                    <label for="email">Email:<input type="email" name="email" id="email"></label>
                </div>
                <div>
                    <label for="status">Status:<input type="text" name="status" id="status"></label>
                </div>
                <div>
                    <label for="birthday">Birthday:<input type="date" name="birthday" id="birthday"></label>
                </div>
                <div>
                    <label for="city">City:<input type="text" name="city" id="city"></label>
                </div>
                <div>
                    <button type="submit" value="Внести изменения"></button>
                </div>
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>