<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>News</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/nav_panel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/news_wall.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <!--<div th:replace="fragments/nav_panel :: navigation_panel"></div>-->

    <main>
        <div class="news_wall">
            <div class="news" th:each="news : ${newsList}">
                <div class="title"><h4 th:text="${news.title}"></h4></div>
                <div class="description"><div th:text="${news.description}"></div></div>
                <div class="date_of_creation"><p th:text="${#dates.format(news.dateOfCreation, 'dd MMMM HH:mm')}"></p></div>
                <!--<div class="author">Author Id: <a href="#" th:text="${author_id}"></a></div>-->
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>