<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>News</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/news.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <div class="title"><span>Лента новостей</span></div>
        <div class="news_wall">
            <div class="news" th:each="news : ${newsList}">
                <h4 th:text="${news.title}"></h4>
                <img th:src="${news.img}" alt="изображение">
                <div class="date">
                    <img src="/images/news/clock.png" alt="время">
                    <span class="colon">:</span>
                    <span class="time" th:text="${news.date}"></span></div>
                <div class="link">
                    <img src="/images/news/link.png" alt="ссылка">
                    <span class="colon link-colon">:</span>
                    <a th:href="${news.link}" th:text="${news.link}"></a>
                </div>

            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>