<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="nav_panel.css" type="text/css">
    <title>User-Page</title>
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="#">My page</a></li>
                <li><a href="#">News</a></li>
                <li><a href="create_news_form.html">Create news</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </nav>
    </div>
    <footer></footer>
</body>
</html>