<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/registration.css}">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="registration_block">
        <div class="heading">
            <h1>Registration</h1>
        </div>

        <div class="registration_form">
            <form method="post" th:action="@{/registration}" th:object="${userEntity}">
                <div class="username">
                    <label>username:<input class="username_inp" th:field="*{username}"/></label>
                    <p th:each="error:${#fields.errors('username')}" th:text="${error}">Validation error</p>
                </div>
                <div class="password">
                    <label>password:<input class="password_inp" type="password" th:field="*{password}"/></label>
                    <p th:each="error:${#fields.errors('password')}" th:text="${error}">Validation error</p>
                </div>
                <div class="confirm-password">
                    <label>confirm:<input class="confirm-password_inp" type="password" th:field="*{matchingPassword}"/></label>
                </div>
                <div class="email">
                    <label>email:<input class="email_inp" type="email" th:field="*{email}"/></label>
                    <p th:each="error:${#fields.errors('email')}" th:text="${error}">Validation error</p>
                </div>
                <button class="submit" type="submit">Register</button>
            </form>
        </div>
        <div class="redirect_login">
            <span>Already have an account? <a th:href="@{/login}">Sign In</a></span>
        </div>
    </div>

</body>
</html>