<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/registration.css}">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="registration_block">
        <div class="heading">
            <h1>Registration</h1>
        </div>

        <div class="registration_form">
            <form method="post" th:action="@{/registration}" th:object="${newUser}">
                <div class="username">
                    <label>username:<input class="username_inp" th:field="*{username}"/></label>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Validation error</p>
                </div>
                <div class="password">
                    <label>password:<input class="password_inp" type="password" th:field="*{password}"/></label>
                    <p th:each="error:${#fields.errors('password')}" th:text="${error}">Validation error</p>
                </div>
                <div class="confirm-password">
                    <label>confirm:<input class="confirm-password_inp" type="password" th:field="*{matchingPassword}"/></label>
                    <p th:each="error:${#fields.errors('matchingPassword')}" th:text="${error}">Validation error</p>
                </div>
                <div class="email">
                    <label>email:<input class="email_inp" type="email" th:field="*{email}"/></label>
                    <p th:each="error:${#fields.errors('email')}" th:text="${error}">Validation error</p>
                </div>
                <div class="name">
                    <label>name:<input class="name_inp" type="text" th:field="*{name}"/></label>
                    <p th:each="error:${#fields.errors('name')}" th:text="${error}">Validation error</p>
                </div>
                <div class="surname">
                    <label>surname:<input class="surname_inp" type="text" th:field="*{surname}"/></label>
                    <p th:each="error:${#fields.errors('surname')}" th:text="${error}">Validation error</p>
                </div>
                <div class="avatar">
                    <label>avatar:<input class="avatar_inp" type="file" th:field="*{avatar}"/></label>
                    <p th:each="error:${#fields.errors('avatar')}" th:text="${error}">Validation error</p>
                </div>
                <div class="status">
                    <label>status:<input class="status_inp" type="text" th:field="*{status}"/></label>
                    <p th:each="error:${#fields.errors('status')}" th:text="${error}">Validation error</p>
                </div>
                <div class="birthday">
                    <label>date of birthday:<input class="birthday_inp" type="date" th:field="*{dateOfBirth}"/></label>
                    <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Validation error</p>
                </div>
                <div class="city">
                    <label>city:<input class="city_inp" type="text" th:field="*{city}"/></label>
                    <p th:each="error:${#fields.errors('city')}" th:text="${error}">Validation error</p>
                </div>
                <button class="submit" type="submit">Register</button>
            </form>
        </div>
        <div class="redirect_login">
            <span>Already have an account? <a th:href="@{/login}">Sign In</a></span>
        </div>
    </div>

</body>
</html>