a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    color: red;
}

li {
    list-style-type: none;
}

.menu {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    background: darkgrey;
    text-align: center;
}