* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gainsboro;
    font-family: "Tahoma", sans-serif;
}

a {
    text-decoration: none;
}

div {
    font-size: 16px;
}

/*main {*/
    /*display: flex;*/
/*}*/

.top_block {
    width: 950px;
    height: 400px;
    margin: auto auto;
    background-color: white;
    border: 0.5px solid grey;
    border-top: none;
    position: relative;
    top: -50px;
}

.top_block .background_img {
    width: 950px;
    height: 350px;
}

.top_block .background_img img {
    width: 950px;
    height: 350px;
}

.top_block .authorized_name {
    width: 150px;
    height: 20px;
    position: absolute;
    top: 300px;
    left: 250px;
}

.top_block .authorized_name span {
    color: white;
    font-size: 35px;
}

.top_block .avatar_block {
    float: left;
    width: 210px;
    height: 210px;
    text-align: center;
    margin-left: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
}

.top_block .avatar_block img {
    width: 195px;
    height: 195px;
    border: 1px solid grey;
    margin-top: 7px;
}

.top_block .count_of_total {
    float: left;
    width: 720px;
    height: 50px;
    position: absolute;
    left: 230px;
    text-align: center;
}

.top_block .count_of_total ul li {
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    border-left: 1px solid Gainsboro;
}

.top_block .count_of_total ul li:first-child {
    border-left: none;
}

.count {
    color: #302f2f;
    float: left;
    margin-left: 30px;
}

.top_block .count_of_total ul li span {
    margin-top: 15px;
}

.top_block .count_of_total ul li span:nth-child(2) {
    display: block;
    color: dimgray;
    float: right;
}

.block {
    display: block;
    margin-top: 6px;
    color: dimgray;
    font-size: 13px;
}

.edit_block {
    width: 400px;
    height: 70px;
    margin-left: 155px;
    position: relative;
    top: -30px;
    transition: 4s;
}

.edit_block div:hover {
    transform: scale(0.97);
}

.edit_block div {
    border: 0.5px solid grey;
    border-radius: 3px;
    box-shadow: 0 0 1px 0;
}

.edit_block div img {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 7px;
    position: relative;
    left: 40px;
}

.edit_block .change_avatar {
    float: left;
    width: 195px;
    height: 30px;
    background-color: white;
    text-align: center;
}

.edit_block .edit {
    float: right;
    width: 195px;
    height: 30px;
    background-color: white;
    text-align: center;
}

.edit_block .edit span {
    margin-right: 15px;
}

.edit_block .change_cover {
    float: left;
    width: 195px;
    height: 30px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
}

.edit_block .delete_avatar  {
    width: 195px;
    height: 30px;
    float: right;
    margin-top: 10px;
}

.edit_block .delete_avatar form button {
    width: 195px;
    height: 30px;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 3px;
    text-align: center;
    padding-right: 15px;
}

.edit_block .delete_avatar form button img {
    width: 30px;
    height: 30px;
    float: left;
    display: block;
    position: relative;
    left: 32px;
    top: -7px;
}

.about_block {
    width: 400px;
    height: 248px;
    float: left;
    margin-left: 155px;
    background-color: white;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 1px 0;
}

.about_text {
    display: block;
    color: dimgray;
    padding-top: 8px;
}

.about_block div {
    width: 400px;
    height: 40px;
    border-bottom: 1.5px solid transparent;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.75);
}

.about_block div:not(:first-child) {
    display: block;
    text-align: left;
}

.about_block div:last-child {
    border-bottom: none;
}

.about_block .about span {
    display: block;
    padding: 10px;
    color: dimgray;
}

.about_block div img {
    width: 15px;
    height: 15px;
    padding: 10px;
    float: left;
}

.whats_news {
    width: 521px;
    height: 170px;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 3px;
    float: left;
    position: relative;
    left: 30px;
    bottom: 102px;
    box-shadow: 0 0 1px 0;
}

.whats_news .top {
    width: 500px;
    height: 20px;
    padding: 10px;
    border-bottom: 0.5px solid dimgray;
}

.whats_news .top img {
    width: 20px;
    height: 20px;
    float: left;
}

.whats_news .top span {
    margin-left: 10px;
    font-size: 14px;
    color: dimgray;
}

.whats_news .text {
    width: 500px;
    height: 80px;
}

.whats_news .text textarea {
    width: 499px;
    height: 59px;
    padding: 10px;
    resize: none;
}

.whats_news .insert {
    width: 520px;
    height: 50px;
}

.whats_news .insert ul {
    width: 100px;
    margin-left: 10px;
}

.whats_news .insert li {
    display: inline-block;
    width: 30px;
    height: 50px;
    text-align: center;
}

.whats_news .insert ul li img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.whats_news input {
    display: block;
    width: 70px;
    height: 30px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    background-color: #302f2f;
    color: white;
    border-radius: 3px;
    outline: none;
    border: none;
}

