a {
    text-decoration: none;
}

a:visited {
    color: #4682B4;
}

a:hover {
    color: red;
}

li {
    list-style: none;
}

.nav_panel {
    width: 150px;
    height: 400px;
    position: absolute;
    left: 140px;
    top: 50px;
}

.nav_panel ul {
    padding: 1.4em;
}

.nav_panel ul li {
    width: 150px;
    height: 25px;
    margin-bottom: 10px;
}

.nav_panel ul li:hover {
    background-color: #dfe6ed;
}

.nav_panel ul li a {
    text-align: center;
    color: #285473;
    margin: 0 0 15px 5px;
}

.nav_panel img {
    width: 15px;
    height: 15px;
    color: #6495ED;
    position: relative;
    top: 3px;
    right: 4px;
}