body {
    font-family: "Tahoma", sans-serif;
    font-size: 13px;
}

table {
    border-spacing: 10px;
}

div {
    font-size: 16px;
}

.news_wall {
    position: relative;
    left: 300px;
    top: 50px;
    margin-top: 20px;
}

.news_wall .news {
    width: 500px;
    height: 300px;
    position: relative;
    top: -40px;
    left: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.news_wall .news .title {
    position: absolute;
    left: 90px;
}

.news_wall .news .description {
    position: absolute;
    left: 200px;
    top: 50px;
}

.news_wall .news .date_of_creation {
    color: darkgrey;
    font-size: 10px;
    position: absolute;
    left: 90px;
    top: 30px;
}

.news_wall .news .author {
    position: absolute;
    left: 90px;
    top: 60px;
}
