* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Tahoma", sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #4682B4;
}

a:hover {
    color: red;
}

.heading {
    margin-left: 57px;
}

.redirect_login {
    width: 200px;
    position: relative;
    left: 47px;
    top: 180px;
}

.registration_block {
    width: 400px;
    height: 500px;
    position: relative;
    left: 500px;
    top: 150px;
}

.registration_block .registration_form {
    position: absolute;
    top: 50px;
}

.registration_block .registration_form .username {
    margin-bottom: 10px;
}

.registration_block .registration_form .password {
    margin-bottom: 10px;
}

.registration_block .registration_form .confirm-password {
    margin-bottom: 10px;
}

.registration_block .registration_form .email {
    margin-bottom : 10px;
}

.registration_block .registration_form .username .username_inp {
    margin-left: 5px;
}

.registration_block .registration_form .password .password_inp {
    margin-left: 7px;
}

.registration_block .registration_form .confirm-password .confirm-password_inp {
    margin-left: 19px;
}

.registration_block .registration_form .email .email_inp {
    margin-left: 32px;
}

.registration_block .registration_form .submit {
    margin-left: 67px;
    width: 165px;
}