<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="news_creation_form.css" type="text/css">-->
    <!--<link rel="stylesheet" href="nav_panel.css" type="text/css">-->
    <title>Title</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">My page</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/news/create_news">Create news</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </nav>
    <div class="modal">
        <form method="post" id="news_form" action="#" th:action="@{/news/create_news/submit}" th:object="${news}">
            <label for="title">Title</label>
            <br>
            <input type="text" id="title" th:field="*{title}">
            <br>
            <label for="description">Description</label>
            <br>
            <textarea cols="30" rows="20" form="news_form" id="description" th:field="*{description}"></textarea>
            <br>
            <label for="date">Date of creation</label>
            <br>
            <input type="date" id="date" th:field="*{dateOfCreation}" th:value="${#dates.format(news.dateOfCreation)}">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>